body {
    font-family: 'Catamaran', sans-serif !important;
}

.container {
    max-width: 1024px;
}

.blue-round-button {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background: #00bbff;
    margin-left: 16px;
}
.round-btn{     -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;}

.main-banner {
    background: url(../img/hero-image@3x.png) no-repeat center center; background-size: cover;
    margin-top: 64px;
}

.main-banner h1 {
    color: #556267;
    font-size: 45px;
    line-height: 60px;
}

/* .banner-content {} */

#supported-type {
    background: #f2f5f7;
}

#footer {
    background: #f2f5f7;
}

#footer ul li {
    background: #f2f5f7;
    list-style: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #f2f5f7;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.form-email {
   width: 100%;
   max-width: 420px;
   padding: 15px;
   margin: auto;
   --input-padding-x: .75rem;
   --input-padding-y: .75rem;
 }
 
 .form-label-group {
   position: relative;
   margin-bottom: 1rem;
 }
 
 .form-label-group > input,
 .form-label-group > label {
   padding: var(--input-padding-y) var(--input-padding-x);
 }
 
 .form-label-group > label {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   margin-bottom: 0; /* Override default `<label>` margin */
   line-height: 1.5;
   color: #495057;
   border: 1px solid transparent;
   border-radius: .25rem;
   transition: all .1s ease-in-out;
 }
 
 .form-label-group input::-webkit-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input:-ms-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input::-ms-input-placeholder {
   color: transparent;
 }
 
 .form-label-group input::-moz-placeholder {
   color: transparent;
 }
 
 .form-label-group input::placeholder {
   color: transparent;
 }
 
 .form-label-group input:not(:placeholder-shown) {
   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
   padding-bottom: calc(var(--input-padding-y) / 3);
 }
 
 .form-label-group input:not(:placeholder-shown) ~ label {
   padding-top: calc(var(--input-padding-y) / 3);
   padding-bottom: calc(var(--input-padding-y) / 3);
   font-size: 12px;
   color: #777;
 }
